@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.905);
    margin: 0px;
    overflow: hidden;
}
.one {
    font-family: Roboto;
    font-size: 30px;
    margin-left: 40px;
}

.one a {
    color: white;
    text-decoration: none;
}

.one .txt {
    font-size: 60px;
    margin-bottom: 3px;
    color: white;
}


.social img {
margin-top: 10px;
width: 50px;
}

.one p {
    margin: 2px;
    justify-content: center;
    text-align: left;
    color: white;
}

.imagecontainer {
float: left;
}

.mriac {
    width: 500px;
    border-radius: 30px;
    margin-left: 820px;

}